.webp .about-program {
  background-image: url("../img/about-program-bg.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-program-bg@2x.webp");
  }
}

.no-webp .about-program {
  background-image: url("../img/about-program-bg.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/about-program-bg@2x.jpg");
  }
}


.about-program {
  text-align: center;
  background-color: $color-white;
  background-size: 1366px 604px;
  background-repeat: no-repeat;
  background-position: center 158px;

  @media (max-width: $mobile-width) {
    background-size: 130%;
    background-position: center 200px;
  }
}

.about-program__wrapper {
  padding-left: 11%;
  padding-right: 11%;


  @media (max-width: $mobile-width) {
    padding-left: 0;
    padding-right: 0;
  }
}

.about-program h2 {
  @include h2();

  margin-bottom: 24px;
}

.about-program p {
  margin: 0 auto;
  margin-bottom: 48px;
  width: 67%;

  @include text-big-lh170();

  @media (max-width: $mobile-width) {
    width: auto;
    padding-left: 16px;
    padding-right: 16px;
    text-align: left;
  }
}

.about-program__video-wrapper {
  position: relative;
}

.about-program__video-wrapper img {
  min-height: 224px;
  object-fit: cover;
}

.about-program__video-button {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 96px;
  height: 96px;
  padding: 0;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 50%;
  background-color: $color-white-transparent;
  font: inherit;
  cursor: pointer;
  outline: none;

  @media (max-width: $mobile-width) {
    width: 80px;
    height: 80px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 64px;
    height: 64px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: $color-white;

    @media (max-width: $mobile-width) {
      width: 53px;
      height: 53px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-style: solid;
    border-width: 9.5px 0 9.5px 15px;
    border-color: transparent transparent transparent $color-blue;
    z-index: 2;

    @media (max-width: $mobile-width) {
      border-width: 7.5px 0 7.5px 12px;
    }
  }
}


.about-program__video-button:hover,
.about-program__video-button:focus {
  &::after {
    box-shadow: $shadow-icon;
  }

  &::before {
    border-color: transparent transparent transparent $color-blue-light;
  }
}

.about-program__video-button:active {
  &::after {
    background-color: $color-gray-light;
    box-shadow: $shadow-icon;
  }

  &::before {
    border-color: transparent transparent transparent $color-blue;
  }
}
