.header-hero-wrapper {
  padding-bottom: 140px;
  background-image: url("../img/bg-hero-desktop.jpg");
  background-repeat: no-repeat;
  background-size: 1366px 906px;
  background-position: center top;
  background-color: $color-white;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-hero-desktop@2x.jpg");
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 85px;
    background-image: url("../img/bg-hero-mobile.jpg");
    background-size: 912px 605px;
    background-position: center 32px;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-hero-mobile@2x.jpg");
    }
  }
}

.header-hero-wrapper__header {
  margin-bottom: 460px;

  @media (max-width: $mobile-width) {
    margin-bottom: 274px;
  }
}
