.webp .header-hero-wrapper {
  background-image: url("../img/bg-hero-desktop.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-hero-desktop@2x.webp");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/bg-hero-mobile.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-hero-mobile@2x.webp");
    }
  }
}

.no-webp .header-hero-wrapper {
  background-image: url("../img/bg-hero-desktop.jpg");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/bg-hero-desktop@2x.jpg");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/bg-hero-mobile.jpg");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bg-hero-mobile@2x.jpg");
    }
  }
}

.header-hero-wrapper {
  flex: 0 0 auto;
  padding-bottom: 140px;
  background-repeat: no-repeat;
  background-size: 1366px 906px;
  background-position: center top;
  background-color: $color-white;

  @media (max-width: $tablet-width) {
    padding-bottom: 85px;
    background-size: 912px 605px;
    background-position: center 32px;
  }
}

.header-hero-wrapper__header {
  margin-bottom: 460px;

  @media (max-width: $tablet-width) {
    margin-bottom: 260px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 274px;
  }
}
