.header {
  padding-top: 36px;

  @media (max-width: $mobile-width) {
    padding-top: 20px;
  }
}

.header__wrapper {
  @media (max-width: $mobile-width) {
    padding-right: 9px;
  }
}

.header__information {
  display: flex;
  justify-content: space-between;
  align-items: center;


  @media (max-width: $mobile-width) {
    flex-direction: column;
    align-items: flex-end;
    left: 8px;
  }
}

.header__information-logo {
  position: relative;
  width: 120px;
  height: 42px;
  left: -11px;

  @media (max-width: $mobile-width) {
    position: absolute;
    left: 16px;
  }
}

.header__information-phone {
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
  color: $color-black;
  outline: none;

  &:hover,
  &:focus {
    color: $color-yellow;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 17px;
  }
}

.header__information-order {
  padding: 0;
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  font-variant: small-caps;
  border-bottom: 1px dashed $color-black;
  color: $color-black;
  cursor: pointer;
  outline: none;

  &:hover,
  &:focus {
    color: $color-yellow;
  }

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 17px;
  }
}
