.hero {
  display: flex;
  min-height: 220px;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $tablet-width) {
    width: 98%;
  }

  @media (max-width: $mobile-width) {
    min-height: 210px;
  }
}

.hero h1 {
  margin: 0;
  max-width: 343px;
  font-size: 24px;
  line-height: 29px;
  font-weight: 700;
  text-align: center;
  color: $color-white;
  text-shadow: $shadow-text;

  @media (max-width: $tablet-width) {
    width: 100%;
  }

  @media (max-width: $mobile-width) {
    font-size: 20px;
    line-height: 24px;
  }
}

.hero a {
  display: block;
  width: 76px;
  height: 132px;
  background-image: url("../img/scroll-down.png");

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}
