.webp .how-to-go {
  background-image:
    url("../img/how-to-go.webp"),
    url("../img/stamp.webp"),
    url("../img/how-to-go-bg.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/how-to-go@2x.webp"),
      url("../img/stamp@2x.webp"),
      url("../img/how-to-go-bg@2x.webp");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/stamp.webp");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/stamp@2x.webp");
    }
  }
}

.no-webp .how-to-go {
  background-image:
    url("../img/how-to-go.png"),
    url("../img/stamp.png"),
    url("../img/how-to-go-bg.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image:
      url("../img/how-to-go@2x.png"),
      url("../img/stamp@2x.png"),
      url("../img/how-to-go-bg@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/stamp.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/stamp@2x.png");
    }
  }
}

.how-to-go {
  padding-top: 193px;
  padding-bottom: 150px;
  background-repeat: no-repeat;
  background-size: 43%, 15%, 100%;
  background-position: 12px 160px, right center, left -40px;

  @media (max-width: $tablet-width) {
    padding-top: 84px;
    padding-bottom: 0;
    background-image: url("../img/stamp.png");
    background-size: 216px;
    background-position: right center;
  }
}

.how-to-go__wrapper {
  display: flex;
  justify-content: flex-end;
}

.how-to-go__text-wrapper {
  width: 552px;
  padding-left: 17px;
  margin-right: 17px;
  box-sizing: border-box;

  @media (max-width: $tablet-width) {
    width: 100%;
    padding-left: 0;
    margin-right: 0;
  }
}

.how-to-go h2 {
  @include h2();

  margin-bottom: 26px;

  @media (max-width: $tablet-width) {
    margin-bottom: 23px;
    text-align: center;
  }
}

.how-to-go p {
  @include text-regular-lh170();

  width: 90%;
  margin: 0;
  margin-bottom: 32px;

  @media (max-width: $tablet-width) {
    width: 100%;
    margin-bottom: 22px;
  }
}

.how-to-go b {
  display: block;
  width: 90%;
  margin-bottom: 32px;
  font-weight: 500;

  @include text-big-lh170();

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.how-to-go ol {
  position: relative;
  counter-reset: my-counter;
  margin: 0;
  padding: 0;
  list-style: none;

  padding-left: 44px;
  margin-bottom: 48px;

  @media (max-width: $tablet-width) {
    margin-bottom: 24px;
  }

  &::before {
    position: absolute;
    content: "";
    background-image: url("../img/dashed-line.svg");
    height: 85%;
    width: 2px;
    left: 0;
    top: 25px;

    @media (max-width: $tablet-width) {
      left: 9px;
    }
  }
}

.how-to-go li {
  position: relative;
  width: 90%;
  counter-increment: my-counter;
  font-size: 15px;
  line-height: 140%;
  opacity: 0.87;

  &:not(:last-child) {
    margin-bottom: 46px;

    @media (max-width: $tablet-width) {
      margin-bottom: 40px;
    }
  }

  @media (max-width: $tablet-width) {
    width: 100%;
    font-size: 14px;
    line-height: 160%;
  }

  &::before {
    content: counter(my-counter);
    position: absolute;
    width: 36px;
    height: 36px;
    left: -60px;
    top: 50%;
    box-shadow: $shadow-bubble;
    background-color: $color-white;
    font-size: 17px;
    line-height: 36px;
    text-align: center;
    color: $color-yellow;
    border-radius: 50%;
    transform: translateY(-50%);

    @media (max-width: $tablet-width) {
      left: -52px;
    }
  }
}

.how-to-go__footnote p {
  margin: 0;
  width: 100%;
  position: relative;
  padding-left: 16px;
  font-size: 15px;
  line-height: 140%;
  opacity: 0.5;

  @media (max-width: $tablet-width) {
    padding-left: 8px;
    font-size: 14px;
    line-height: 160%;
  }

  &::before {
    position: absolute;
    content: "";
    width: 4px;
    height: 100%;
    left: -3px;
    background-image: $gradient-yellow;

    @media (max-width: $tablet-width) {
      left: -6px;
    }
  }
}
