.popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ebebeb;
  opacity: 0.95;

  @media (max-width: $mobile-width) {
    overflow-y: scroll;
    height: 100vh;
    position: fixed;
    background-color: #ffffff;
    opacity: 1;
  }
}

.popup--close {
  display: none;
}

.popup__wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  box-sizing: border-box;
  min-height: 521px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.1);

  @media (max-width: $mobile-width) {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    box-shadow: none;
  }
}

.popup__wrapper--order {
  padding-left: 48px;
  padding-top: 56px;
  padding-right: 72px;
  padding-bottom: 40px;

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-top: 170px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }
}

.popup__wrapper--close {
  display: none;
}

.popup__title {
  @include h3();

  margin-bottom: 16px;
}

.popup__description {
  margin: 0;
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 170%;
}

.popup__form input:not([type="checkbox"]) {
  width: 100%;
  height: 59px;
  box-sizing: border-box;
  padding-left: 44px;
  margin-bottom: 8px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  opacity: 0.87;
  border: 2px solid #e3e3e3;
  border-radius: 80px;
  outline: none;

  &::placeholder {
    font-size: 17px;
    line-height: 59px;
    font-weight: 500;
    font-variant: small-caps;
    opacity: 0.5;
  }

  &:hover,
  &:focus {
    background-image: linear-gradient(white, white), $gradient-yellow;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border: 4px solid transparent;
  }
}

.popup__form-agreement-wrapper {
  width: 264px;
  margin: 0 auto;
}

.popup__form-agreement-wrapper label {
  font-size: 13px;
  line-height: 150%;
  opacity: 0.74;
}

.popup__close {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 31px;
  right: 31px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/icon-close.svg");
}

.popup__wrapper--order-complite {
  padding-top: 216px;
  padding-left: 60px;
  padding-right: 60px;
  background-image: url("../img/checkmark.svg");
  background-size: 66px 64px;
  background-repeat: no-repeat;
  background-position: center 120px;

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-top: 200px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }
}

.popup__wrapper--order-complite .popup__title,
.popup__wrapper--order-complite .popup__description {
  text-align: center;
}
