.popup {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: $popup-overlay;

  @media (max-width: $mobile-width) {
    background-color: $color-white;
  }
}

.popup--close {
  display: none;
}

.popup__wrapper {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  box-sizing: border-box;
  min-height: 521px;
  background-color: $color-white;
  border-radius: 8px;
  box-shadow: $shadow-bubble;

  @media (max-width: $mobile-width) {
    position: absolute;
    top: 0;
    left: 0;
    transform: none;
    box-shadow: none;
  }
}

.popup__wrapper--order {
  padding-left: 48px;
  padding-top: 56px;
  padding-right: 73px;
  padding-bottom: 40px;

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-top: 170px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }
}

.popup__wrapper--close {
  display: none;
}

.popup__title {
  @include h3();

  margin-bottom: 16px;
}

.popup__description {
  margin: 0;
  margin-bottom: 32px;
  font-size: 15px;
  line-height: 170%;
}

.popup__form {
  position: relative;
}

.popup__wrapper--order input:not([type="checkbox"]) {
  width: 100%;
  height: 59px;
  box-sizing: border-box;
  padding-left: 37px;
  margin-bottom: 8px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 500;
  opacity: 0.87;
  border: 2px solid $input-default;
  border-radius: 80px;
  outline: none;

  &::placeholder {
    font-size: 17px;
    line-height: 59px;
    font-weight: 500;
    font-variant: small-caps;
    opacity: 0.5;
  }

  &:focus {
    border-color: $input-focus;
  }
}

.popup__input-wrapper label {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.popup__input-wrapper--invalid input:not([type="checkbox"]) {
  border-color: $input-invalid;
  box-shadow: none;
  outline: none;
}

.popup__input-wrapper--valid input:not([type="checkbox"]) {
  border-color: $input-valid;
  outline: none;
}

.popup__wrapper--order button:not(.popup__close),
.popup__wrapper--order-complite button:not(.popup__close) {
  @include button();
  margin-left: 60px;
  margin-top: 15px;
  margin-bottom: 16px;
}

.popup__form-agreement-wrapper input {
  @include visually-hidden();
}

.popup__form-agreement-wrapper label {
  display: block;
  position: relative;
  padding-left: 24px;
  font-size: 13px;
  line-height: 150%;
  opacity: 0.74;
  user-select: none;

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 16px;
    height: 16px;
    background-image: $gradient-yellow;
    border-radius: 2px;
  }

  &::after {
    position: absolute;
    content: "";
    top: 2px;
    left: 2px;
    width: 12px;
    height: 12px;
    z-index: 2;
    background-color: $color-white;
  }
}

.popup__form-agreement-wrapper input[type="checkbox"]:checked + label::after {
  top: 2px;
  left: 2px;
  width: 8px;
  height: 4px;
  border: 4px solid $color-black;
  background-color: transparent;
  transform: rotate(-45deg);
  border-top: none;
  border-right: none;
}

.popup__form-agreement-wrapper {
  width: 298px;
  box-sizing: border-box;
  padding-left: 28px;
  margin: 0 auto;
}

.popup__form-agreement-wrapper--valid label {
  color: $input-valid;
}

.popup__form-agreement-wrapper--invalid label {
  color: $input-invalid;
}

.popup__close {
  position: absolute;
  width: 18px;
  height: 17px;
  top: 31px;
  right: 31px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-image: url("../img/icons/icon-close.svg");

  &:hover,
  &:focus {
    opacity: 0.7;
  }
}

.popup__wrapper--order-complite {
  padding-top: 216px;
  padding-left: 60px;
  padding-right: 60px;


  &::after {
    position: absolute;
    content: "";
    background-image: url("../img/checkmark.svg");
    background-size: 66px 64px;
    background-repeat: no-repeat;
    background-position: center 120px;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
    padding-top: 200px;
    padding-left: 16px;
    padding-right: 16px;
    text-align: center;
  }
}

.popup__wrapper--order-complite .popup__title,
.popup__wrapper--order-complite .popup__description {
  text-align: center;
}
