.webp .programs {
  background-image: url("../img/programs-bg.webp");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/programs-bg@2x.webp");
  }
}

.no-webp .programs {
  background-image: url("../img/programs-bg.png");

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/programs-bg@2x.png");
  }
}

.programs {
  background-size: 680px 426px;
  background-position: top right;
  background-repeat: no-repeat;

  @media (max-width: $tablet-width) {
    background-size: 100%;
    background-position: 23px 165px;
    background-repeat: no-repeat;
  }
}

.programs-wrapper {
  box-sizing: border-box;
  padding-left: 100px;
  padding-right: 190px;

  @media (max-width: $tablet-width) {
    padding-left: 2%;
    padding-right: 2%;
  }
}

.programs h2 {
  @include h2();

  margin-bottom: 66px;

  @media (max-width: $tablet-width) {
    margin-bottom: 16px;
    text-align: center;
  }
}

.programs__list {
  @include ul-reset();
  margin-right: 7%;
  width: 27%;
  flex-shrink: 0;

  @media (max-width: $tablet-width) {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    margin-right: 0;
    overflow: hidden;
    overflow-x: auto;
  }
}

.programs__list li {
  @media (max-width: $tablet-width) {
    flex: 0 0 auto;
  }
}

.programs__list li:not(:last-child) {
  margin-bottom: 4px;

  @media (max-width: $tablet-width) {
    margin-bottom: 0;
    margin-right: 8px;
  }
}

.programs__item {
  position: relative;
  display: block;
  min-height: 68px;
  width: 100%;
  padding: 0;
  padding-left: 72px;
  box-sizing: border-box;
  border: none;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
  font-size: 15px;
  line-height: 18px;
  opacity: 0.87;
  outline: none;

  &::before {
    position: absolute;
    content: "";
    left: 20px;
    width: 36px;
    height: 36px;
    top: 50%;
    transform: translateY(-50%);
    background-repeat: no-repeat;
  }

  @media (max-width: $tablet-width) {
    min-height: 48px;
    padding-left: 52px;
    padding-right: 12px;

    &::before {
      left: 14px;
      width: 32px;
      height: 32px;
      background-size: contain;
    }
  }
}

.programs__item:not(.programs__item--active) {
  &:hover,
  &:focus {
    color: $color-yellow;
  }
}

.programs__item--common {
  @media (max-width: $tablet-width) {
    min-width: 120px;
  }

  &::before {
    background-image: url("../img/common-black.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/common-black@2x.png");
    }
  }

  &:hover {
    &::before {
      background-image: url("../img/common-yellow.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/common-yellow@2x.png");
      }
    }
  }
}

.programs__item--active.programs__item--common {
  &::before {
    background-image: url("../img/common-white.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/common-white@2x.png");
    }
  }
}

.programs__item--academic {
  @media (max-width: $tablet-width) {
    min-width: 180px;
  }

  &::before {
    background-image: url("../img/academic-black.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/academic-black@2x.png");
    }
  }

  &:hover {
    &::before {
      background-image: url("../img/academic-yellow.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/academic-yellow@2x.png");
      }
    }
  }
}

.programs__item--active.programs__item--academic {
  &::before {
    background-image: url("../img/academic-white.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/academic-white@2x.png");
    }
  }
}

.programs__item--internships {
  @media (max-width: $tablet-width) {
    min-width: 160px;
  }

  &::before {
    background-image: url("../img/internships-black.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/internships-black@2x.png");
    }
  }

  &:hover {
    &::before {
      background-image: url("../img/internships-yellow.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/internships-yellow@2x.png");
      }
    }
  }
}

.programs__item--active.programs__item--internships {
  &::before {
    background-image: url("../img/internships-white.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/internships-white@2x.png");
    }
  }
}

.programs__item--volunteering {
  @media (max-width: $tablet-width) {
    min-width: 170px;
  }

  &::before {
    background-image: url("../img/volunteering-black.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/volunteering-black@2x.png");
    }
  }

  &:hover {
    &::before {
      background-image: url("../img/volunteering-yellow.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/volunteering-yellow@2x.png");
      }
    }
  }
}

.programs__item--active.programs__item--volunteering {
  &::before {
    background-image: url("../img/volunteering-white.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/volunteering-white@2x.png");
    }
  }
}

.programs__item--religious {
  @media (max-width: $tablet-width) {
    min-width: 165px;
  }

  &::before {
    background-image: url("../img/religious-black.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/religious-black@2x.png");
    }
  }

  &:hover {
    &::before {
      background-image: url("../img/religious-yellow.png");

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/religious-yellow@2x.png");
      }
    }
  }
}

.programs__item--active.programs__item--religious {
  &::before {
    background-image: url("../img/religious-white.png");

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/religious-white@2x.png");
    }
  }
}

.programs__item--active {
  background-image: url("../img/arrow-end.svg"), $programs-button;
  background-repeat: no-repeat, repeat;
  background-position: center right;

  font-size: 16px;
  line-height: 19px;
  font-variant: small-caps;
  text-transform: lowercase;
  color: $color-white;
  text-shadow: $shadow-text;
  opacity: 1;

  @media (max-width: $tablet-width) {

    background-image: $button;
    background-repeat: repeat;
    background-position: unset;
    border-radius: 60px;

    &:hover,
    &:focus {
      background-image: $button-hover;
    }

    &:active {
      background-image: $button-active;
    }
  }
}

.programs__descriptions-list {
  @include ul-reset();
}

.programs__list-wrapper {
  display: flex;
  flex-direction: row;

  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
}

.programs__descriptions-list h3 {
  @include h3();

  margin-bottom: 25px;

  @media (max-width: $tablet-width) {
    margin-bottom: 16px;
  }
}

.programs__descriptions-list p {
  @include text-regular-lh170();

  margin: 0;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }
}

.programs__descriptions-item {
  display: none;
}

.programs__descriptions-item--active {
  display: block;
  padding-top: 16px;

  @media (max-width: $tablet-width) {
    padding-top: 31px;
    padding-left: 10px;
    padding-right: 10px;
  }
}
