.questions {
  padding-bottom: 140px;
  background-image: url("../img/questions-bg.png"), url("../img/bag.png"), url("../img/questions-bg-watercolor.png");
  background-repeat: no-repeat;
  background-position: right top, left bottom, center 37%;
  background-size: 47%, 11%, 100%;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/questions-bg@2x.png"), url("../img/bag@2x.png"), url("../img/questions-bg-watercolor@2x.png");
  }

  @media (max-width: $tablet-width) {
    background-image: url("../img/bag.png");
    background-size: 12%;
    background-position: left 78%;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/bag@2x.png");
    }
  }

  @media (max-width: $mobile-width) {
    padding-bottom: 82px;
    background-size: 46%;
  }
}

.questions__wrapper {
  max-width: 49%;

  @media (max-width: $tablet-width) {
    max-width: none;
    width: 100%;
  }
}

.questions h2 {
  @include h2();

  margin-bottom: 10px;

  @media (max-width: $mobile-width) {
    margin-bottom: 0;
    text-align: center;
  }
}

.questions__list {
  padding: 0;
  margin: 0;
  list-style: none;
  counter-reset: questions-counter;
}

.questions__list li {
  counter-increment: questions-counter;
  border-bottom: 1px solid $color-black-low-opacity;

  &::before {
    content: counter(questions-counter);
    font-weight: bold;
    font-size: 28px;
    line-height: 170%;
    color: $color-yellow;
  }
}

.questions__item-wrapper {
  display: inline-flex;
  width: 91%;
  padding-top: 38px;
  padding-bottom: 31px;

  align-items: center;
  cursor: pointer;

  @media (max-width: $mobile-width) {
    width: 93%;
    padding-bottom: 17px;
  }
}

.questions__item p:first-child {
  @include text-big-lh150();

  max-width: 380px;
  margin: 0;
  padding-left: 13px;

  @media (max-width: $tablet-width) {
    max-width: 88%;
  }

  @media (max-width: $mobile-width) {
    padding-left: 8px;
  }
}

.questions__item button {
  width: 17px;
  height: 11px;
  border: none;
  padding: 0;
  margin-left: auto;
  background-color: transparent;
  background-image: url("../img/questions-arrow.svg");
  outline: none;

  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.questions__item .questions__item-answer {
  display: none;

  @include text-regular-lh150();
  line-height: 140%;
  opacity: 0.74;

  @media (max-width: $mobile-width) {
    font-size: 14px;
    line-height: 160%;
  }
}

.questions__item--active .questions__item-answer {
  display: block;
  max-width: 480px;
  margin: 0;
  margin-bottom: 33px;

  @media (max-width: $tablet-width) {
    max-width: 92%;
    margin-bottom: 0;
  }
}

.questions__item--active button {
  transform: rotate(180deg);
}

.questions__item--active .questions__item-wrapper {
  padding-bottom: 22px;

  @media (max-width: $mobile-width) {
    margin-bottom: 15px;
  }
}
