body {
  min-width: 320px;
  font-family: "Fira Sans", "Arial", sans-serif;
  color: $color-black;
  font-size: 15px;
  line-height: 140%;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1142px;
  margin: 0 auto;
  padding-left: 12px;
  padding-right: 17px;


  @media (max-width: $mobile-width) {
    padding-left: 16px;
    padding-right: 16px;
  }
}

.visually-hidden,
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
