$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$color-black: #484848;
$color-blue: #1fc0fc;
$color-yellow: #ffc341;
$gradient-yellow: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);
$montserrat: "Montserrat", verdana, sans‑serif;
