$tablet-width: 1023px;
$mobile-width: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

$color-black: #484848;
$color-gray-light: #f4f4f4;
$color-blue: #1fc0fc;
$color-blue-light: #63d3fd;
$color-yellow: #ffc341;
$color-white: #ffffff;
$color-white-transparent: rgba(255, 255, 255, 0.32);
$gradient-yellow: linear-gradient(108.42deg, #ffc341 20.46%, #ffd701 65.31%);

$popup-overlay: rgba(235, 235, 235, 0.95);

$shadow-bubble: 0 3px 12px rgba(0, 0, 0, 0.1);
$shadow-icon: 0 1px 4px rgba(0, 0, 0, 0.05);
$shadow-text: 0 1px 4px rgba(0, 0, 0, 0.12);
$shadow-btn-click: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), #ffffff;

$input-default: #e3e3e3;
$input-valid: #484848;
$input-invalid: #ff0000;
$input-focus: #ffdc34;

$heading-font: "Montserrat", "Verdana", sans-serif;
$main-font: "Fira Sans", "Arial", sans-serif;

$button: linear-gradient(142.39deg, #ffc341 20.46%, #ffd701 65.31%);
$button-hover: linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);
$button-active: radial-gradient(150% 119.49% at 50% 50.85%, rgba(0, 0, 0, 0) 30.67%, rgba(3, 3, 3, 0.24) 100%), linear-gradient(143.55deg, #ffc341 -50.3%, #ffd701 63.1%);

$programs-button: linear-gradient(138.15deg, #ffc341 20.46%, #ffd701 65.31%);
